* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ivymode;
  src: url("../assets/fonts/ivymode.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: wotfard;
  src: url("../assets/fonts/wotfard-regular.woff") format("woff"), url("../assets/fonts/wotfard-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: juniper;
  src: url("../assets/fonts/juniper.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  	font-family: wotfard, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2e261c;
}

.overlay {
  display: none;
  z-index: 50;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2e261c;
  opacity: 0.8;

  &.active {
    display: flex;
  }
}

.banner {
  width: 100%;
}
