.section2 {
  background-image: url("../assets/bg-section-2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100vw;
}

.grid-container {
  display: grid;
  grid-template: repeat(6, [row] 1fr) / repeat(24, [col] 1fr);
  grid-gap: 10px;
  padding: 47px 0 0;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-image-1,
.grid-quiz-box,
.grid-image-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;

  picture {
    width: 100%;
    height: 100%;
  }
}

.grid-image-1 {
  grid-column: col 3 / span 9;
  grid-row: row 1 / span 4;
  z-index: 2;
}

.grid-quiz-box {
  background-color: #2e261c;
  position: relative;
  color: #fff;
  width: 100%;
  padding: 3rem;
  flex-direction: column;
  z-index: 5;
  grid-column: col 11 / span 7;
  grid-row: row 2 / span 3;
  transform: translateY(-70px);

  .quiz-title {
    color: #fff;
    margin-bottom: 24px;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    font-family: ivymode, sans-serif;
    align-self: flex-start;
  }

  .quiz-span {
    color: #fff;
    display: block;
    font-size: 11px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: wotfard, sans-serif;
    text-transform: uppercase;
  }

  .quiz-info {
    font-size: 13px;
    margin-bottom: 24px;
    line-height: 24px;
  }

  .quiz-link {
    display: inline-block;
    text-transform: uppercase;
    align-self: start;
    text-align: left;
    background-color: transparent;
    font-family: wotfard, sans-serif;
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
    line-height: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #c65238;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 16px;
  }

  @media (max-width: 64rem) {
    padding: 2.5rem 1.5rem 3rem;
    grid-column: col 11 / span 7;
    grid-row: row 2 / span 2;
    height: 386px;

    .quiz-title {
      margin-bottom: 24px;
      font-size: 1.5rem;
    }

    .quiz-info {
      font-size: 14px;
    }
  }

  @media (max-width: 48rem) {
    .quiz-title {
      margin-bottom: 24px;
    }
  }
}

.grid-image-2 {
  grid-column: col 18 / span 5;
  grid-row: row 4 / span 3;
  z-index: 2;
  transform: translateY(-40px);
}

@media (max-width: 768px) {
  .section2 {
    background-image: url("../assets/bg-section-2-mobile.webp");
  }

  .grid-container {
    margin: 0;
    padding: 20px 0 0;
    grid-template: repeat(11, [row] 1fr) / repeat(24, [col] 1fr);
  }

  .grid-image-1 {
    grid-column: col 1 / span 24;
    grid-row: row 1 / span 5;
  }

  .grid-quiz-box {
    justify-content: space-evenly;
    align-items: flex-start;
    grid-column: col 10 / span 13;
    grid-row: row 6 / span 4;
    padding: 1.5rem;

    h3 {
      padding-left: 0;
    }
  }

  .grid-image-2 {
    grid-column: col 3 / span 11;
    grid-row: row 9 / span 3;
  }
}